<a href="https://colab.research.google.com/github/sabaakram539/data_analysis_projects/blob/main/3_Cars_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Cars Dataset
Here the data of different cars is given with their specfications. This data is available as a csv file. We are going to analyse this dataset using pandas dataframe.

In [ ]:
import pandas as pd

In [ ]:
car=pd.read_csv('2. Cars Data1.csv')
car.head()

    Make           Model   Type Origin  ... MPG_Highway  Weight Wheelbase  Length
0  Acura             MDX    SUV   Asia  ...        23.0  4451.0     106.0   189.0
1  Acura  RSX Type S 2dr  Sedan   Asia  ...        31.0  2778.0     101.0   172.0
2  Acura         TSX 4dr  Sedan   Asia  ...        29.0  3230.0     105.0   183.0
3  Acura          TL 4dr  Sedan   Asia  ...        28.0  3575.0     108.0   186.0
4  Acura      3.5 RL 4dr  Sedan   Asia  ...        24.0  3880.0     115.0   197.0

[5 rows x 15 columns]

In [ ]:
car.shape

(432, 15)

In [ ]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 432 entries, 0 to 431
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Make         428 non-null    object
 1   Model        428 non-null    object
 2   Type         428 non-null    object
 3   Origin       428 non-null    object
 4   DriveTrain   428 non-null    object
 5   MSRP         428 non-null    object
 6   Invoice      428 non-null    object
 7   EngineSize   428 non-null    float64
 8   Cylinders    426 non-null    float64
 9   Horsepower   428 non-null    float64
 10  MPG_City     428 non-null    float64
 11  MPG_Highway  428 non-null    float64
 12  Weight       428 non-null    float64
 13  Wheelbase    428 non-null    float64
 14  Length       428 non-null    float64
dtypes: float64(8), object(7)
memory usage: 50.8+ KB

Finding null values

In [ ]:
car.isnull().sum()

Make           4
Model          4
Type           4
Origin         4
DriveTrain     4
MSRP           4
Invoice        4
EngineSize     4
Cylinders      6
Horsepower     4
MPG_City       4
MPG_Highway    4
Weight         4
Wheelbase      4
Length         4
dtype: int64

In [ ]:
car=car.dropna()

In [ ]:
car.shape

(426, 15)

In [ ]:
car.head(2)

    Make           Model   Type Origin  ... MPG_Highway  Weight Wheelbase  Length
0  Acura             MDX    SUV   Asia  ...        23.0  4451.0     106.0   189.0
1  Acura  RSX Type S 2dr  Sedan   Asia  ...        31.0  2778.0     101.0   172.0

[2 rows x 15 columns]

In [ ]:
car.rename(columns={'Make':'Company'},inplace=True)

In [ ]:
car.describe()

       EngineSize   Cylinders  Horsepower  ...       Weight   Wheelbase      Length
count  426.000000  426.000000  426.000000  ...   426.000000  426.000000  426.000000
mean     3.205634    5.807512  215.877934  ...  3580.474178  108.164319  186.420188
std      1.103520    1.558443   71.991040  ...   759.870073    8.330030   14.366611
min      1.400000    3.000000   73.000000  ...  1850.000000   89.000000  143.000000
25%      2.400000    4.000000  165.000000  ...  3111.250000  103.000000  178.000000
50%      3.000000    6.000000  210.000000  ...  3476.000000  107.000000  187.000000
75%      3.900000    6.000000  255.000000  ...  3979.250000  112.000000  194.000000
max      8.300000   12.000000  500.000000  ...  7190.000000  144.000000  238.000000

[8 rows x 8 columns]

In [ ]:
car['Company'].value_counts()

Toyota           28
Chevrolet        27
Mercedes-Benz    26
Ford             23
BMW              20
Audi             19
Nissan           17
Honda            17
Volkswagen       15
Chrysler         15
Mitsubishi       13
Dodge            13
Volvo            12
Jaguar           12
Hyundai          12
Pontiac          11
Subaru           11
Lexus            11
Kia              11
Mazda             9
Lincoln           9
Buick             9
Mercury           9
Saturn            8
Infiniti          8
GMC               8
Suzuki            8
Cadillac          8
Acura             7
Saab              7
Porsche           7
Oldsmobile        3
Jeep              3
Land Rover        3
Scion             2
MINI              2
Isuzu             2
Hummer            1
Name: Company, dtype: int64

In [ ]:
car[car.Company=='Toyota']

    Company                       Model    Type  ...  Weight Wheelbase Length
377  Toyota    Prius 4dr (gas/electric)  Hybrid  ...  2890.0     106.0  175.0
378  Toyota                 Sequoia SR5     SUV  ...  5270.0     118.0  204.0
379  Toyota              4Runner SR5 V6     SUV  ...  4035.0     110.0  189.0
380  Toyota               Highlander V6     SUV  ...  3935.0     107.0  185.0
381  Toyota                Land Cruiser     SUV  ...  5390.0     112.0  193.0
382  Toyota                        RAV4     SUV  ...  3119.0      98.0  167.0
383  Toyota              Corolla CE 4dr   Sedan  ...  2502.0     102.0  178.0
384  Toyota               Corolla S 4dr   Sedan  ...  2524.0     102.0  178.0
385  Toyota              Corolla LE 4dr   Sedan  ...  2524.0     102.0  178.0
386  Toyota             Echo 2dr manual   Sedan  ...  2035.0      93.0  163.0
387  Toyota               Echo 2dr auto   Sedan  ...  2085.0      93.0  163.0
388  Toyota                    Echo 4dr   Sedan  ...  2055.0      93.0  163.0
389  Toyota                Camry LE 4dr   Sedan  ...  3086.0     107.0  189.0
390  Toyota             Camry LE V6 4dr   Sedan  ...  3296.0     107.0  189.0
391  Toyota         Camry Solara SE 2dr   Sedan  ...  3175.0     107.0  193.0
392  Toyota      Camry Solara SE V6 2dr   Sedan  ...  3417.0     107.0  193.0
393  Toyota               Avalon XL 4dr   Sedan  ...  3417.0     107.0  192.0
394  Toyota            Camry XLE V6 4dr   Sedan  ...  3362.0     107.0  189.0
395  Toyota     Camry Solara SLE V6 2dr   Sedan  ...  3439.0     107.0  193.0
396  Toyota              Avalon XLS 4dr   Sedan  ...  3439.0     107.0  192.0
397  Toyota                   Sienna CE   Sedan  ...  4120.0     119.0  200.0
398  Toyota          Sienna XLE Limited   Sedan  ...  4165.0     119.0  200.0
399  Toyota             Celica GT-S 2dr  Sports  ...  2500.0     102.0  171.0
400  Toyota  MR2 Spyder convertible 2dr  Sports  ...  2195.0      97.0  153.0
401  Toyota                      Tacoma   Truck  ...  2750.0     103.0  191.0
402  Toyota       Tundra Regular Cab V6   Truck  ...  3925.0     128.0  218.0
403  Toyota    Tundra Access Cab V6 SR5   Truck  ...  4435.0     128.0  218.0
404  Toyota                   Matrix XR   Wagon  ...  2679.0     102.0  171.0

[28 rows x 15 columns]

In [ ]:
car[(car.Origin=='Asia') | (car.Origin=='Europe')]

    Company                    Model   Type  ...  Weight Wheelbase Length
0     Acura                      MDX    SUV  ...  4451.0     106.0  189.0
1     Acura           RSX Type S 2dr  Sedan  ...  2778.0     101.0  172.0
2     Acura                  TSX 4dr  Sedan  ...  3230.0     105.0  183.0
3     Acura                   TL 4dr  Sedan  ...  3575.0     108.0  186.0
4     Acura               3.5 RL 4dr  Sedan  ...  3880.0     115.0  197.0
..      ...                      ...    ...  ...     ...       ...    ...
427   Volvo  C70 LPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
428   Volvo  C70 HPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
429   Volvo               S80 T6 4dr  Sedan  ...  3653.0     110.0  190.0
430   Volvo                      V40  Wagon  ...  2822.0     101.0  180.0
431   Volvo                     XC70  Wagon  ...  3823.0     109.0  186.0

[279 rows x 15 columns]

In [ ]:
car[car.Origin.isin(['Asia','Europe'])]

    Company                    Model   Type  ...  Weight Wheelbase Length
0     Acura                      MDX    SUV  ...  4451.0     106.0  189.0
1     Acura           RSX Type S 2dr  Sedan  ...  2778.0     101.0  172.0
2     Acura                  TSX 4dr  Sedan  ...  3230.0     105.0  183.0
3     Acura                   TL 4dr  Sedan  ...  3575.0     108.0  186.0
4     Acura               3.5 RL 4dr  Sedan  ...  3880.0     115.0  197.0
..      ...                      ...    ...  ...     ...       ...    ...
427   Volvo  C70 LPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
428   Volvo  C70 HPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
429   Volvo               S80 T6 4dr  Sedan  ...  3653.0     110.0  190.0
430   Volvo                      V40  Wagon  ...  2822.0     101.0  180.0
431   Volvo                     XC70  Wagon  ...  3823.0     109.0  186.0

[279 rows x 15 columns]

Removing Records where weight is above 4000

In [ ]:
car.head()

  Company           Model   Type Origin  ... MPG_Highway  Weight Wheelbase  Length
0   Acura             MDX    SUV   Asia  ...        23.0  4451.0     106.0   189.0
1   Acura  RSX Type S 2dr  Sedan   Asia  ...        31.0  2778.0     101.0   172.0
2   Acura         TSX 4dr  Sedan   Asia  ...        29.0  3230.0     105.0   183.0
3   Acura          TL 4dr  Sedan   Asia  ...        28.0  3575.0     108.0   186.0
4   Acura      3.5 RL 4dr  Sedan   Asia  ...        24.0  3880.0     115.0   197.0

[5 rows x 15 columns]

In [ ]:
car[~(car.Weight>4000)]

    Company                    Model   Type  ...  Weight Wheelbase Length
1     Acura           RSX Type S 2dr  Sedan  ...  2778.0     101.0  172.0
2     Acura                  TSX 4dr  Sedan  ...  3230.0     105.0  183.0
3     Acura                   TL 4dr  Sedan  ...  3575.0     108.0  186.0
4     Acura               3.5 RL 4dr  Sedan  ...  3880.0     115.0  197.0
5     Acura  3.5 RL w/Navigation 4dr  Sedan  ...  3893.0     115.0  197.0
..      ...                      ...    ...  ...     ...       ...    ...
427   Volvo  C70 LPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
428   Volvo  C70 HPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
429   Volvo               S80 T6 4dr  Sedan  ...  3653.0     110.0  190.0
430   Volvo                      V40  Wagon  ...  2822.0     101.0  180.0
431   Volvo                     XC70  Wagon  ...  3823.0     109.0  186.0

[323 rows x 15 columns]